*.bat
*.sh
*.db
*.exe
/*/
LICENSE.txt
CHANGELOG

!/src/
/src/minecraft/*
!/src/minecraft/murder/
!/src/minecraft/mekanism/api/
!/src/minecraft/murder/
!/src/minecraft/universalelectricity
/src/minecraft/universalelectricity/components
!/resources/
!/models/
!info1.5.1.txt
!InjectResources.bat
!BuildModJar.bat
!/README